body {
	padding-top: 80px;
}

p {
	font-size: 20px;
}

.btn-social {
	border: 2px solid;
	/*round the border*/
	border-radius: 6px;
	color: black;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 25px;
	/*control text vertical position*/
	line-height: 45px;
}

.footer-above,
.footer-below {
	padding: 25px 0px;
}

.footer-above {
	background-color: #FFEB3B;
}

.footer-below {
	background-color: #00B0FF;
}

.footer-below p {
	margin-bottom: 0px;
}

.navbar-custom {
	background-color: #00B0FF;
	font-weight: 800;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
	font-size: 2em;
	color: black;
}

.navbar-custom .navbar-nav,
.navbar-custom .navbar-brand {
  letter-spacing: 1px;
}

.navbar-custom .navbar-nav li a {
	color: black;
	font-size: 1.1em;
	border-radius: 6px;
}

.navbar-custom .navbar-nav li a:hover {
	color: #FFEB3B;
}

.navbar-custom .navbar-nav li a:focus {
	color: black;
  	background-color: #FFEB3B;
}

.navbar-custom .navbar-toggle {
	border-color: black;
}

.navbar-custom .navbar-toggle .icon-bar {
	background-color: black;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #FFEB3B;
  border-color: #FFEB3B;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 15px 20px;
  }
}

@media (max-width: 767px) {
  .navbar-custom {
    padding: 15px 10px;
  }
  .navbar-custom .navbar-toggle {
	margin-right: 0;
  }
  .navbar-custom .navbar-brand {
  	padding: 15px 5px;
  }
}